apache-flink==1.17.0
py4j==0.10.9.7
cloudpickle==2.2.0
numpy==1.24.3
pyarrow==8.0.0
pandas==1.5.3
pytz
boto3
redis
kafka-python
protobuf==3.20.0
botocore
jmespath
python-dateutil
six
urllib3
s3transfer
grpcio==1.44.0